<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.staticfile.org/angular.js/1.3.20/angular.min.js"></script>
  <script>
    var app = angular.module('myApp', []);
    app.controller('a1', function ($scope, $rootScope, $timeout) {
      $scope.name = 'John';
      $scope.age = '20';
      $scope.inputVal = '';

      setTimeout(function(){
        $scope.$apply(function(){
          $scope.name = 'Kim'
        });
      }, 2000);

      $scope.show = function(){
        $scope.age = 88;
      }
    });

    // run只有全局作用域
    app.run(['$rootScope', function($rootScope){
      $rootScope.rootName = 'hi rootName';
    }])
  </script>

  </head>
  <body>
    <div ng-app="myApp" ng-controller="a1">
      <p>{{name}}</p>
      <p>{{age}}</p>
      <p ng-click="show()">change age</p>

      <input type="text" ng-model="inputVal" placeholder="do sth" />
      <p>{{inputVal}}</p>

      <div>{{rootName}}</div>
    </div>
</body>
</html>